<div class="colorwhite">
<div class="container">
    <div class="menu_home_list">
     <div><%= link_to "NUESTRAS PIZZAS", pizzas_path, class: "btn-dark menu_home"%></div>
     <div><%= link_to "NUESTROS SERVICIOS", about_path, class: "btn-dark menu_home"%></div>
     <div><%= link_to "PREGUNTAS FRECUENTES", question_path, class: "btn-dark menu_home"%></div>
    </div>
    <div>
     <p>   <%= link_to "HAZ TU PEDIDO", pizzas_path, class: "btn button_pedido"%></p>
    </div>

<!--       <%= cl_image_tag("gulabanner_dsjmml",
       :width=>"auto:90:900", :crop=>"scale", :use_root_path=>true, :client_hints=>true) %> -->
       <img src="https://res.cloudinary.com/djrxx3xla/image/upload/v1605643899/gulabanner_dsjmml.png" alt="" class="cld-responsive">

    <div class="slogan">
      <p>PIZZAS DE VERDAD</p>
    </div>
    <div class="home_icons">
      <a href="https://www.instagram.com/lagula_pizza/?hl=es"target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://wa.me/<34655536287>"target="_blank"><i class="fab fa-whatsapp"></i></a>
    </div>
    <div class="zonas">
       <p>CASTELLDEFELS - GAVÀ MAR - LES BOTIGUES</p>
    </div>
    <div class="envio">
      <p>ENVÍO SIN CARGO</p>
    </div>
  </div>
 </div>

